*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/*
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle files
.gradle/
build/
*.hprof

# Xcode
.DS_Store
.DS_Store?
.Trashes
.Spotlight-V100
*.swp
## Xcode private settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
## Xcode build files
iosApp/build
# CocoaPods
iosApp/Pods

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md
fastlane/.env.clubfirst

# modules build
/shared/build
/mvvm-core/build
/mvvm-livedata/build
/androidApp/build